<!DOCTYPE html>
<html>
<head>
  <title>Form Card</title>
</head>
<link rel="stylesheet" href="contact.css">
<body>
  <div class="card">
    <h1>Book A Call</h1>
    <p class="description">Book a Call Slot and our representation will call you within 1hr of selection time.</p>
    <hr>
    <form id="callForm" action="/contactus" method="POST">
        <input type="text" id="name" placeholder="Name" required>
        <input type="email" id="email" placeholder="Email" required>
        <button type="submit">Get a Call</button>
    </form>
  </div>
</body>
</html>





